<li class="user-pro" >
  <a href="#" onClick="getActivities({{current_user.id}})" class="waves-effect">
    <i data-icon="F" class="fa fa-sun-o fa-fw"></i>
      <span class="hide-menu"> <b>Mi Agenda</b>
      </span>
  </a>
</li>
<li class="user-pro" >
  <a href="#" class="waves-effect" >
    <i data-icon="F" class="fa fa-heart fa-fw"></i>
    <span class="hide-menu">  <b>Favoritos</b>
      <span class="fa arrow">
      </span>
    </span>
  </a>
  <ul class="nav nav-second-level" >
    <li>
      <a href="#" onClick="getProfessionals(true)">
        <i data-icon="F" class="fa fa-magic fa-fw"></i>Mis Profesionales</a>
    </li>
  </ul>
</li>
<li class="user-pro" >
  <a href="#" onClick="getNotifications()" class="waves-effect">
    <i data-icon="F" class="fa fa-envelope-o fa-fw"></i>
      <span class="hide-menu"> <b>Notificaciones</b>
      </span>
  </a>
</li>
<li class="user-pro" >
  <a href="#" onClick="getPayments()" class="waves-effect">
    <i data-icon="F" class="fa fa-envelope-o fa-fw"></i>
      <span class="hide-menu"> <b>Mis Pagos</b>
      </span>
  </a>
</li>
<li class="user-pro" >
  <a href="#" onClick="getCompanies()" class="waves-effect">
    <i data-icon="F" class="fa fa-fort-awesome fa-fw"></i>
      <span class="hide-menu"> <b>Empresas</b>
      </span>
  </a>
</li>
<li class="user-pro" >
  <a href="#" onClick="getProfessionals(false)" class="waves-effect">
    <i data-icon="F" class="fa fa-magic fa-fw"></i>
      <span class="hide-menu"> <b>Profesionales</b>
      </span>
  </a>
</li>
<li class="user-pro" >
  <a href="#" onClick="getEvents()" class="waves-effect">
    <i data-icon="F" class="fa fa-star fa-fw"></i>
      <span class="hide-menu"> <b>Cursos y Eventos</b>
      </span>
  </a>
</li>

