<script src="{{ url_for('blue_dondefluir.static', filename='js/vueschedule.js') }}"></script>
<script src="{{ url_for('blue_dondefluir.static', filename='js/vueprofessional.js') }}"></script>
<script src="{{ url_for('static', filename='js/vuetitle.js') }}"></script>

<div class="row bg-title" id="vue_title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 ">
        <h4 class="page-title"><label> {%raw%}{{Title}}{%endraw%} </label></h4>
        <input type="hidden" id="id" value="">
        <input type="hidden" id="record_id" value="">
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#" onClick="showDashboard()" >Inicio</a></li>
            <li class="active"> {%raw%}{{Title}}{%endraw%} </li>
        </ol>
    </div>
</div>
<div id="vue_tabs">
</div>
<div id="recordFields">
</div>
<!-- /.row -->
<!-- .row -->
<div class="row" >
    <div class="col-md-9 col-xs-12">
        <div class="white-box">
            <!-- .tabs -->
            <div class="tab-content" id="vue_schedule">
                <!-- .tabs 1 -->
                <div class="tab-pane active" id="citas">
                  <h3 class="box-title">Horarios</h3>
                  <div class="list-group">
                    <div v-for="d in values">
                      <a href="javascript:void(0)" class="list-group-item active">{%raw%}{{d[0]['FechaStr']}}{%endraw%}</a>
                      <div v-for="value in d" href="#" class="list-group-item">
                        <a v-if="value['id']" href="#"
                          :onClick="'getRecordForm(\'Activity\',\'activityform.html\',\'' + value['id'] + '\')'">
                          {%raw%}{{value['StartTime']}} a {{value['EndTime']}} {%endraw%}
                          <div v-if="value['Service']">Servicio: {%raw%}{{value['Service']}}{%endraw%}</div>
                          <div v-if="value['Comment']">{%raw%}{{value['Comment']}}{%endraw%}</div>
                          <div v-if="value['Customer']">Cliente: {%raw%}{{value['Customer']}}{%endraw%}</div>
                        </a>
                        <a v-if="!value['id']" href="#"
                          :onclick="'createActivity(\''+value['Date']+'\',\''+value['StartTime']+'\',\''+value['EndTime']+'\',\''+profId+'\',\''+value['CompanyId']+'\',\''+current_user_id+'\')'">
                          {%raw%}{{value['StartTime']}} a {{value['EndTime']}} {%endraw%}
                          <div v-if="value['Service']">Servicio: {%raw%}{{value['Service']}}{%endraw%}</div>
                          <div v-if="value['Comment']">{%raw%}{{value['Comment']}}{%endraw%}</div>
                          <div v-if="value['Customer']">Cliente: {%raw%}{{value['Customer']}}{%endraw%}</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .tabs 2 -->

                <div class="tab-pane" id="cursos">
                  <div v-for="(event,e) in events">

                    <h3 class="box-title">{%raw%}{{event[0]['Comment']}}{%endraw%}</h3>

                    <div class="row" >
                      <div class="col-md-3 col-xs-12 b-r"> <strong>Fechas y Horarios</strong>
                        <br>
                        <div v-for="(k,j) in event">
                          <p class="text-muted">{%raw%}{{k['TransDate']}} de {{k['StartTime']}} a {{k['EndTime']}}{%endraw%}</p>
                        </div>
                      </div>

                      <div class="col-md-3 col-xs-12 b-r">
                          <strong>Valor</strong>
                          <br>
                          <p class="text-muted">$ {%raw%}{{event[0]['Price']}}{%endraw%}</p>
                      </div>
                      <div class="col-md-3 col-xs-12"> <strong>Cupo máximo</strong>
                        <br>
                        <p class="text-muted">{%raw%}{{event[0]['MaxPersons']}}{%endraw%} asistentes<br>Quedan {%raw%}{{event[0]['MaxPersons'] - event[0]['Persons']}}{%endraw%} cupos disponibles</p>
                        <div class="progress progress-lg">
                          <div class="progress-bar progress-bar-primary"
                            :style="'width: '+100*event[0]['Persons']/event[0]['MaxPersons']+'%;'" role="progressbar">
                            {%raw%}{{100*event[0]['Persons']/event[0]['MaxPersons']}}{%endraw%}%</div>
                        </div>
                      </div>

                    </div> <!-- row -->


                    <button class="btn btn-primary btn-rounded waves-effect waves-light m-t-20"
                    type="button" :id="e" :onclick="'setCustomerToEvent(\''+e+'\')'">{%raw%}{{event[0]['Status']}}{%endraw%}</button>
                    <p class="m-t-30"><strong>Descripción</strong></p>
                    <p>{%raw%}{{event[0]['Description']}}{%endraw%}</p>
                    <hr/>

                  </div>
                </div> <!-- cursos -->
            </div> <!-- tab-content -->
        </div>
    </div>
  </div>
    </div>
</div>
<!-- /.row -->


<script type=text/javascript>
  setProffesional({{var['profId']}},'{{current_user.id}}',true);
</script>

