{% extends "recordtable.html" %}

{% block fields_view %}
<tr v-for="record in values" v-if="record._Skip==false && record._Skip2==false" >
    <td v-for="row in record.Columns">
        <a href="#" :onClick="'getRecordForm(\''+ table +'\',\'activityform.html\',\'' + record.id + '\')'">
            {%raw%}{{row}}{%endraw%}
        </a>
    </td>
</tr>
{% endblock %}

{% block button_script %}
<script type=text/javascript>
  columns = "{0:('Horario','.TransDate de .StartTime a .EndTime')" +
    ",1:('Servicio','.ServiceId')" +
    ",2:('Profesional','.ProfId')" +
    ",3:('Estado','.Status')}"
  getRecordList('Activity','Comment,StartTime,EndTime,TransDate,id,Status,ServiceId,CustId,CompanyId,ProfId,Type','','TransDate',false,columns);
</script>
{% endblock %}
