{% extends "recordform.html" %}

{% block record_imports %}
<script src="{{ url_for('static', filename='js/vueactivity.js') }}"></script>
{% endblock %}

{% block add_buttons %}
    {% if current_user.UserType==3 %}
    <button v-if="id && Status!=2"
      onclick="cancelActivity()" class="btn btn-danger btn-rounded waves-effect waves-light m-r-10 m-b-10" >
      <span class="btn-label">
        <i class="fa fa-minus">
        </i>
      </span>Cancelar Actividad
    </button>
    {% endif %}
{% endblock %}

{% block fields %}

<div id="recordFields">
  <form action="/" autocomplete="off" class="form-material form-horizontal" id="record_form">
  <input id="id" name="id" type="hidden" v-model="values.id">
  <input id="_state" name="_state" type="hidden" v-model="values._state">
  <input v-if="record" id="syncVersion" name="syncVersion" type="hidden" v-model="record.syncVersion">
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> Información </h3>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="CompanyId">Empresa</label>
                        <select class="form-control" id="CompanyId" name="CompanyId" v-model="record.CompanyId">
                            <option v-for="(value,key) in links['CompanyId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="ProfId">Profesional</label>
                        <select class="form-control" id="ProfId" name="ProfId" v-model="record.ProfId">
                            <option v-for="(value,key) in links['ProfId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Type">Tipo de Actividad</label>
                        <select class="form-control" id="Type" name="Type" v-model="record.Type">
                            <option v-for="(value,key) in links['Type']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Comment">Nombre de Curso/Evento</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Comment" name="Comment"
                                   type="text" v-model="record.Comment">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-4 p-b-20" v-if="record.Type==0">
                        <label class="col-xs-12" for="CustId">Cliente</label>
                        <select class="form-control" id="CustId" name="CustId" v-model="record.CustId">
                            <option v-for="(value,key) in links['CustId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-4 p-b-20">
                        <label class="col-xs-12" for="ServiceId">Servicio</label>
                        <select class="form-control" id="ServiceId" name="ServiceId" v-model="record.ServiceId">
                            <option v-for="(value,key) in links['ServiceId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-4 p-b-20">
                        <label class="col-xs-12" for="Status">Estado</label>
                        <select class="form-control" id="Status" name="Status" v-model="record.Status">
                            <option v-for="(value,key) in links['Status']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-3 p-b-20">
                        <label class="col-xs-12" for="Price">Valor</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Price" name="Price" placeholder="Price"
                                   type="number" v-model="record.Price">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="checkbox checkbox-primary">
                            <input class="fxhdr" id="OnlinePayment" name="OnlinePayment" type="checkbox" v-model="record.OnlinePayment">
                            <label for="OnlinePayment">Habilitar Pagos en Línea</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> Horarios </h3>
                <div class="form-group">
                    <div id="Schedules" class="col-xs-12 col-md-12 p-b-20">
                        <div v-for="(row,index) in record.Schedules" :id="'row'+(index+1)"
                                name="SchedulesRows" :rownr="index+1"  class="col-xs-12 p-b-20 schedulerows">
                            <div class="col-xs-12 col-sm-12 p-b-20">
                                <div class="col-xs-4 p-b-20">
                                    <label>Fecha </label>
                                    <input detail="Schedules" id="TransDate" name="TransDate" type="date" class="form-control"
                                    v-model="record.Schedules[index].TransDate">
                                </div>
                                <div class="col-xs-4 p-b-20">
                                    <label>Desde </label>
                                    <input detail="Schedules" id="StartTime" name="StartTime" type="time" class="form-control"
                                    v-model="record.Schedules[index].StartTime">
                                </div>
                                <div class="col-xs-4 p-b-20">
                                    <label>Hasta </label>
                                    <input detail="Schedules" id="EndTime" name="EndTime" type="time" class="form-control"
                                    v-model="record.Schedules[index].EndTime">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button :id="'delete'+index" type="button" :onclick="'removeRow(\'Schedules\','+index+')'"
                                        class="btn btn-danger btn-rounded waves-effect waves-light m-r-10 m-b-10">
                                    <span class="btn-label">
                                        <i class="fa fa-minus"></i>
                                    </span>Borrar
                                </button>
                            </div>
                        </div>
                        <button onclick="addNewRow('Schedules')" type="button"
                                class="btn btn-warning btn-rounded waves-effect waves-light m-r-10 m-b-10">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="record.Type==1 || record.Type==2">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> CURSO/EVENTO </h3>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="MaxPersons">Cupos</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="MaxPersons" name="MaxPersons" placeholder="MaxPersons"
                                   type="number" v-model="record.MaxPersons">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Image">Imagen</label>
                        <div data-provides="fileinput" onchange="checkFileSize(this)" class="fileinput fileinput-new input-group">
                            <div data-trigger="fileinput" class="form-control">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span id="Image" name="Image" class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Seleccionar Archivo</span>
                                <span class="fileinput-exists">Cambiar</span>
                                <input id="Image-file" name="-file" type="file">
                            </span>
                            <a data-dismiss="fileinput" href="#" class="input-group-addon btn btn-default fileinput-exists">
                                Quitar
                            </a>
                        </div>
                        <label class="col-xs-12" for="Image">
                            Tamaño sugerido: 300px x 300px. Peso máximo: 150kb
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12" for="Description">Descripción</label>
                    <div class="col-xs-12">
                        <textarea class="form-control" id="Description" name="Description"
                               rows="4" v-model="record.Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="record.Type==1 || record.Type==2">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> Clientes </h3>
                <div class="form-group">
                    <div id="Users" class="col-xs-12 col-md-12 p-b-20">
                        <div v-for="(row,index) in record.Users" :id="'row'+(index+1)"
                                name="UsersRows" :rownr="index+1"  class="col-xs-12 p-b-20 schedulerows">
                            <div class="col-xs-12 col-sm-6 p-b-20">
                                <div class="col-xs-12 p-b-20">
                                    <label class="col-xs-12" for="CustRowId">Cliente</label>
                                    <select class="form-control" id="CustRowId" name="CustRowId" v-model="row.CustId">
                                        <option v-for="(value,key) in links['CustId']"  v-if="value[1]==0" :value="key">
                                          {% raw %} {{value[0]}} {% endraw %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button :id="'delete'+index" type="button" :onclick="'removeRow(\'Users\','+index+')'"
                                        class="btn btn-danger btn-rounded waves-effect waves-light m-r-10 m-b-10">
                                    <span class="btn-label">
                                        <i class="fa fa-minus"></i>
                                    </span>Borrar
                                </button>
                            </div>
                        </div>
                        <button onclick="addNewRow('Users')" type="button"
                                class="btn btn-warning btn-rounded waves-effect waves-light m-r-10 m-b-10">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
<div class="row" id="activity-payment-div">
  <div class="col-xs-12">
    <div class="white-box">
      <div v-if="record && record.OnlinePayment && record.Price">
        <div>
          <p style="color: green"><b><i>NO has pagado por este curso</i></b></p>
          <form ref="form-activity">
          </form>
        </div>
        <div v-if="Paid==true">
          <p style="color: green"><b><i>Ya has realizado tu pago</i></b></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
