{% extends "recordform.html" %}

{% block fields %}

<div id="recordFields">
  <form action="/" autocomplete="off" class="form-material form-horizontal" id="record_form">
  <input id="id" name="id" type="hidden" v-model="values.id">
  <input id="_state" name="_state" type="hidden" v-model="values._state">
  <input v-if="record" id="syncVersion" name="syncVersion" type="hidden" v-model="record.syncVersion">
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                {% if current_user.UserType==0 %}
                <div class="form-group">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <div class="checkbox checkbox-primary">
                            <input class="fxhdr" id="Active" name="Active" type="checkbox" v-model="record.Active">
                            <label for="Active">Activo</label>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Name">Nombre</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Name" name="Name" placeholder="Nombre"
                                   type="text" v-model="record.Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Phone">Teléfono</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Phone" name="Phone" placeholder="Teléfono"
                                   type="text" v-model="record.Phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Address">Dirección</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Address" name="Address" placeholder="Dirección"
                                   type="text" v-model="record.Address">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="City">Ciudad</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="City" name="City" placeholder="Ciudad"
                                   type="text" v-model="record.City">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Email">Email</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Email" name="Email" placeholder="Email"
                                   type="text" v-model="record.Email">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="WebSite">Web Site</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="WebSite" name="WebSite" placeholder="WebSite"
                                   type="text" v-model="record.WebSite">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <label class="col-xs-12" for="Comment">Comentario</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" id="Comment" name="Comment" placeholder=""
                                      rows="4" v-model="record.Comment">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="ImageProfile">Imagen de Perfil</label>
                        <div data-provides="fileinput" onchange="checkFileSize(this)" class="fileinput fileinput-new input-group">
                            <div data-trigger="fileinput" class="form-control">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span id="ImageProfile" name="ImageProfile" class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Seleccionar Archivo</span>
                                <span class="fileinput-exists">Cambiar</span>
                                <input id="ImageProfile-file" name="-file" type="file">
                            </span>
                            <a data-dismiss="fileinput" href="#" class="input-group-addon btn btn-default fileinput-exists">
                                Quitar
                            </a>
                        </div>
                        <label class="col-xs-12" for="ImageProfile">
                            Tamaño sugerido: 300px x 300px. Peso máximo: 150kb
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="KeyPayco">Clave ePayco</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="KeyPayco" name="KeyPayco" placeholder="Clave ePayco"
                                   type="text" v-model="record.KeyPayco">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="checkbox checkbox-primary">
                            <input class="fxhdr" id="OnlinePayment" name="OnlinePayment" type="checkbox" v-model="record.OnlinePayment">
                            <label for="OnlinePayment">Habilitar Pagos en línea</label>
                        </div>
                    </div>
                </div>

                {% if current_user.UserType==0 %}
                <div class="form-group">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <div class="checkbox checkbox-primary">
                            <input class="fxhdr" id="Closed" name="Closed" type="checkbox" v-model="record.Closed">
                            <label for="Closed">Cerrado</label>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}




