{% extends "recordtable.html" %}
{% block title %}
<h4>Empresas</h4>
{% endblock %}

{% block title2 %}
  <li class="active"><a href="#" onClick="getTemplate({'Template':'company.html','Name':'Empresas','Table':'Company'})">
    Lista</a></li>
  <li><a href="#" onClick="getTemplate({'Template':'company_icon.html','Name':'Empresas'})">
    Íconos grandes</a></li>
{% endblock %}


{% block fields_view %}
<tr v-for="record in values" v-if="record._Skip==false && record._Skip2==false && record.Closed==0" >
    <td><record-row :record="record" :text="record.Name" class_name="Company" user_type="user_type"></record-row></td>
</tr>

{% endblock %}

    {% block button_script %}
<script type=text/javascript>
  refreshList();
  getRecordList('Company','Name,id,Closed',null,null,false);
</script>
{% endblock %}
