<div class="container-fluid" id="container-fluid">
    <!--div id="preloader" >
        <div class="preloader"  v-if="ready==false">
            <div class="cssload-speeding-wheel" ></div>
        </div>
    </div-->

  {% block container %}
   <div class="row bg-title" id="vue_title">
      <!-- .page title -->
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
         <h4 class="page-title">¡Bienvenid@!</h4>
      </div>
      <!-- /.page title -->
      <!-- .breadcrumb -->
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
         <ol class="breadcrumb">
            <li><a href="#" onclick="showDashboard()">Inicio</a></li>
            <li class="active">P&aacute;gina de Inicio</li>
         </ol>
      </div>
      <!-- /.breadcrumb -->
   </div>
   <!-- .row -->
   <div class="row" >
       <div id="dashboard">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">{%raw%}{{currentdate}}{%endraw%}</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==3">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-magic bg-megna"></i>
                    <a href="#" onclick="getCompanies()"><h3>EMPRESAS</h3></a>
                    <a href="#" onclick="getCompanies()"><strong>Encuentra las empresas</strong></a> que fluyen en esta plataforma.
                    <a href="#" onclick="getCompanies()"><strong>Agregalas a favoritos</strong></a> para que puedas acceder a su listado de profesionales, sus agendas, cursos y eventos.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==3">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-magic bg-megna"></i>
                    <a href="#" onclick="getProfessionals(false)"><h3>PROFESIONALES Y CITAS</h3></a>
                    <a href="#" onclick="getProfessionals(false)"><strong>Agrega profesionales a tus favoritos</strong></a> para verlos en Mis profesionales. Accede a su perfil para solicitar y pagar tu cita.
                    <a href="#" onclick="getActivities({{current_user.id}})"><strong>Visualiza tus próximas actividades</strong></a> en Mi agenda.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==3">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-star bg-megna"></i>
                    <a href="#" onclick="getEvents()"><h3>CURSOS Y EVENTOS</h3></a>
                    <a href="#" onclick="getEvents()"><strong>Conoce la programación de talleres, cursos, conferencias, viajes y eventos.</strong></a> Reserva y paga tu cupo en las actividades que estas empresas ofrecen para invitarte a fluir.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==3">
              <div class="white-box bg-info">
                <div class="r-icon-stats text-white text-center">
                <i class="fa fa-heart bg-megna"></i>
                <a href="#"><h3>EMPECEMOS A FLUIR</h3></a>
                <strong>Agrega las empresas en las que estas interesado a tus favoritos.</strong> Así podrás conocer su portafolio de profesionales, solicitar citas con ellos y reservar cupos en sus cursos y talleres.
                </div>
              </div>
            </div>


            <div class="col-md-3 col-sm-6" v-if="user_type==1">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-star bg-megna"></i>
                    <a href="#" onclick="showCompany({{current_user.CompanyId}})"><h3>MI EMPRESA</h3></a>
                    <a href="#" onclick="showCompany({{current_user.CompanyId}})"><strong>Completa o actualiza el perfil de tu empresa.</strong></a> Configura la información de tu botón de pago con ePayco y habilitalo a través de este panel.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-magic bg-megna"></i>
                    <a href="#" onclick="getUsers()"><h3>USUARIOS</h3></a>
                    <a href="#" onclick="getUsers()"><strong>Registra usuarios nuevos</strong></a> tipo cliente, profesional o administrador. Accede al perfil de tus profesionales para configurar sus horarios.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="ti-user bg-megna"></i>
                    <a href="#" onclick="getServices()"><h3>SERVICIOS</h3></a>
                    <a href="#" onclick="getServices()"><strong>Crea los servicios de tu empresa</strong></a> e indica su precio en pesos colombianos.
                    <a href="#" onclick="getProfServices()"><strong>Relaciona tus servicios con los profesionales</strong></a> que los prestan.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-magic bg-megna"></i>
                    <a href="#" onclick="getPayments()"><h3>PAGOS RECIBIDOS</h3></a>
                    <a href="#" onclick="getPayments()"><strong>Haz seguimiento de tus ingresos</strong></a> a través de esta plataforma. Conoce tus pagos recibidos y amplía los detalles de cada una de las transacciones.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1 || user_type==2">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-star bg-megna"></i>
                    <a href="#" onclick="getCalendarView({{current_user.id}},{{current_user.name}})"><h3>MI AGENDA</h3></a>
                    <a href="#" onclick="getActivities({{current_user.id}})"><strong>Crea, modifica y cancela citas, eventos o cursos,</strong></a> accediendo a la
                    <a href="#" onclick="getMySchedule({{current_user.id}})"><strong>vista de lista</strong></a> de tu agenda o a
                    <a href="#" onclick="getActivities({{current_user.id}})"><strong>todas tus actividades</strong></a> en Mis actividades.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="ti-user bg-megna"></i>
                    <a href="#" onclick="getEvents()"><h3>CURSOS Y EVENTOS</h3></a>
                    <a href="#" onclick="getEvents()"><strong>Crea actividades grupales o de varias fechas.</strong></a> Indica valor, cantidad de cupos y descripción. Agrega clientes y permiteles reservar sus cupos.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1 || user_type==2">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="ti-user bg-megna"></i>
                    <a href="#" onclick="showProfile()"><h3>PERFIL PROFESIONAL</h3></a>
                    <a href="#" onclick="showProfile()"><strong>Completa tu perfil</strong></a> para que los clientes conozcan tus talentos.
                    <a href="#" onclick="showProfile()"><strong>Configura los horarios de tu agenda</strong></a> y gestiona tu tiempo y tu espacio.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==2">
              <div class="white-box">
                <div class="r-icon-stats text-center">
                  <i class="fa fa-magic bg-megna"></i>
                    <a href="#" onclick="getCustomers(false)"><h3>CLIENTES</h3></a>
                    <a href="#" onclick="getCustomers(false)"><strong>Registra nuevos usuarios o encuentra</strong></a> a los que ya fluyen en esta plataforma.
                    <a href="#" onclick="getCustomers(false)"><strong>Agrega tus clientes frecuentes a favoritos</strong></a> para visualizarlos en Mis clientes.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" v-if="user_type==1 || user_type==2">
              <div class="white-box bg-info">
                <div class="r-icon-stats text-white text-center">
                <i class="fa fa-heart bg-megna"></i>
                <a href="#"><h3>EMPECEMOS A FLUIR</h4></a>
                Invita a tus clientes a registrarse y a <strong>agregar tu empresa a sus favoritos.</strong> Así podrán interactuar, gestionar citas y reservar cupos en tus cursos y talleres.
                </div>
              </div>
            </div>


       </div>
      <div class="col-xs-12 col-md-6" id="notifications">
        <div class="white-box">
          <h3 class="box-title">Notificaciones</h3>
          <li v-if="cnt==0" class="list-group-item">
             <div>{%raw%}{{news}}{%endraw%}</div>
          </li>
          <li v-for="record in values" class="list-group-item">
            <a href="#" :onClick="'showNotification(' + record.id + ',true)'" >
            {%raw%}{{record.TransDate}} - {{record.Comment}}{%endraw%}</a>
          </li>
         </div>
      </div>
      <div class="col-xs-12 col-md-6" id="record_list">
        <div class="white-box">
          <h3 class="box-title">Pr&oacute;ximas Actividades</h3>
          <li v-for="record in values" class="list-group-item">
          <a href="#" :onClick="'showActivity(' + record.id + ')'">
            <div v-if="user_type==3">
              {%raw%}{{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} - {{record.ServiceId}} -
                {{record.CompanyId}} - {{record.ProfId}} - {{record.Status}}{%endraw%}
            </div>
            <div v-if="user_type!=3 && record.CustId">
              {%raw%}{{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} - {{record.CustId}} -
                {{record.ServiceId}} - {{record.Status}}{%endraw%}
            </div>
            <div v-if="user_type!=3 && !record.CustId">
              {%raw%}{{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} -
                {{record.ServiceId}} - {{record.Comment}} - {{record.Status}}{%endraw%}
            </div>
          </a></li>
        </div>
      </div>
    </div>
  {% endblock %}
  <!--div id='calendar_id' class='calendar_id'></div-->
</div>

<script src="{{ url_for('static', filename='js/vuedashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/vuerecordlist.js') }}"></script>

<script type=text/javascript>
  getCurrentUser(function(){
    columns = getActivityColumns({{current_user.UserType}})
    getRecordList('Activity','Comment,StartTime,EndTime,TransDate,id,Status,ServiceId,CustId,CompanyId,ProfId','5','TransDate',false,columns);
  });
  setVueDashboard()
  Vue.set(vue_dashboard,'user_type',{{current_user.UserType}});
</script>
