{% extends "recordform.html" %}

{% block buttons %}
<div id="recordButtons">
  <div id="div-buttons">
    <button v-if="canEdit==true" class="btn btn-info btn-rounded waves-effect waves-light m-r-10 m-b-10" onclick="saveRecord('User')" >
      <span class="btn-label">
        <i class="fa fa-check">
        </i>
      </span>Grabar
    </button>
  </div>
    {% if var[Profile]=='0' %}
    <button v-if="canDelete==true" onclick="deleteRecord('User')" class="btn btn-danger btn-rounded waves-effect waves-light m-r-10 m-b-10" >
      <span class="btn-label">
        <i class="fa fa-minus">
        </i>
      </span>Borrar
    </button>
    {% endif %}

  <div id="messages">
    <p v-if="error_msg" class="alert alert-danger" >{% raw %}{{error_msg}}{% endraw %}</p>
    <p v-if="success_msg" class="alert alert-success">{% raw %}{{success_msg}}{% endraw %}</p>
  </div>
</div>
{% endblock %}

{% block fields %}

<div id="recordFields">
  <form action="/" autocomplete="off" class="form-material form-horizontal" id="record_form">
  <input id="id" name="id" type="hidden" v-model="values.id">
  <input id="_state" name="_state" type="hidden" v-model="values._state">
  <input v-if="record" id="syncVersion" name="syncVersion" type="hidden" v-model="record.syncVersion">
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> Información del Usuario </h3>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Name">Nombre</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Name" name="Name" placeholder="Nombre"
                                   type="text" v-model="record.Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Phone">Teléfono</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Phone" name="Phone" placeholder="Teléfono"
                                   type="text" v-model="record.Phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Address">Dirección</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Address" name="Address" placeholder="Dirección"
                                   type="text" v-model="record.Address">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="City">Ciudad</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="City" name="City" placeholder="Ciudad"
                                   type="text" v-model="record.City">
                        </div>
                    </div>
                </div>
                <div class="form-group" v-if="record.UserType<3">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <label class="col-xs-12" for="Comment">Perfil Profesional</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" id="Comment" name="Comment" placeholder=""
                                   rows="4" v-model="record.Comment">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20" v-if="record.UserType<3">
                        <label class="col-xs-12" for="Title">Profesión</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Title" name="Title" placeholder="Profesión"
                                   type="text" v-model="record.Title">
                        </div>
                    </div>
                    {% if var['Profile']=='1'%}
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="ImageProfile">Imagen de Perfil</label>
                        <div data-provides="fileinput" onchange="checkFileSize(this)" class="fileinput fileinput-new input-group">
                            <div data-trigger="fileinput" class="form-control">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span id="ImageProfile" name="ImageProfile" class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Seleccionar Archivo</span>
                                <span class="fileinput-exists">Cambiar</span>
                                <input id="ImageProfile-file" name="-file" type="file">
                            </span>
                            <a data-dismiss="fileinput" href="#" class="input-group-addon btn btn-default fileinput-exists">
                                Quitar
                            </a>
                        </div>
                        <label class="col-xs-12" for="ImageProfile">
                            Tamaño sugerido: 300px x 300px. Peso máximo: 150kb
                        </label>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> Configuración del Usuario </h3>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Email">Email</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Email" name="Email" placeholder="Email"
                                   type="text" v-model="record.Email">
                        </div>
                    </div>
                    <!--div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="Password">Password</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="Password" name="Password" placeholder="Password"
                                   type="password" v-model="record.Password">
                        </div>
                    </div-->
                </div>
                {% if current_user.UserType<2%}
                <div class="form-group">
                    {% if var['Profile']=='0' %}
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="UserType">Tipo de Usuario</label>
                        <select class="form-control" id="UserType" name="UserType" v-model="record.UserType">
                            <option v-for="(value,key) in links['UserType']" v-if="value[1]==0"  :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    {% endif %}
                    {% if current_user.UserType==0%}
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="CompanyId">Empresa</label>
                        <select class="form-control" id="CompanyId" name="CompanyId" v-model="record.CompanyId">
                            <option v-for="(value,key) in links['CompanyId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group" v-if="record.UserType<3">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="EditSchedule">Editar Agenda</label>
                        <select class="form-control" id="EditSchedule" name="EditSchedule" v-model="record.EditSchedule">
                            <option value="0">SI</option>
                            <option value="1">NO</option>
                        </select>
                    </div>
                </div>
                {% endif %}
                {% if current_user.UserType<3%}
                <div class="form-group" v-if="record.UserType<3">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <div class="checkbox checkbox-primary">
                        <input class="fxhdr" id="FindMe" name="FindMe" type="checkbox" v-model="record.FindMe">
                        <label for="FindMe">
                            Perfil Público. Activa esta opción para que los usuarios puedan ver tu perfil en la plataforma
                        </label>
                      </div>
                    </div>
                </div>
                {% endif %}
                {% if var['Profile']=='0'%}
                <div class="form-group" v-if="record.UserType==3">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <div class="col-xs-12">
                            <div>
                                <button-favorite :record_id="record.id" :favorite="favorite"></button-favorite>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row" v-if="record.EditSchedule!=1 && record.UserType<3">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title"> Agenda </h3>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="ShowFromDays">
                            Disponibilidad de horarios hasta: cantidad máxima de días visibles en la agenda para los usuarios.
                        </label>
                        <div class="col-xs-12">
                            <input class="form-control" id="ShowFromDays" name="ShowFromDays" placeholder=""
                                   type="number" v-model="record.ShowFromDays">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="ShowDays">
                            Disponibilidad de horarios desde: Días de anterioridad mínima para solicitar citas.
                        </label>
                        <div class="col-xs-12">
                            <input class="form-control" id="ShowDays" name="ShowDays" placeholder=""
                                   type="number" v-model="record.ShowDays">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-12 p-b-20">
                        <div class="checkbox checkbox-primary">
                        <input class="fxhdr" id="FixedSchedule" name="FixedSchedule" type="checkbox" v-model="record.FixedSchedule">
                        <label for="FixedSchedule">
                            Horarios Fijos
                        </label>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="MaxTime">
                            Tiempo Máxoimo
                        </label>
                        <div class="col-xs-12">
                            <input class="form-control" id="MaxTime" name="MaxTime" placeholder=""
                                   type="number" v-model="record.MaxTime">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="MinTime">
                            Tiempo Mínimo
                        </label>
                        <div class="col-xs-12">
                            <input class="form-control" id="MinTime" name="MinTime" placeholder=""
                                   type="number" v-model="record.MinTime">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div id="Schedules" class="col-xs-12 col-md-12 p-b-20">
                        <label for="Schedules" class="col-xs-12">
                            Horarios
                        </label>
                        <div v-for="(row,index) in record.Schedules" :id="'row'+(index+1)"
                                name="SchedulesRows" :rownr="index+1"  class="col-xs-12 p-b-20 schedulerows">
                            <div class="col-xs-12 col-sm-12 p-b-20">
                                <div class="col-xs-6 p-b-20">
                                    <label>Desde </label>
                                    <input detail="Schedules" id="StartTime" name="StartTime" type="time" class="form-control"
                                    v-model="record.Schedules[index].StartTime">
                                </div>
                                <div class="col-xs-6 p-b-20">
                                    <label>Hasta </label>
                                    <input detail="Schedules" id="EndTime" name="EndTime" type="time" class="form-control"
                                    v-model="record.Schedules[index].EndTime">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 p-b-20">
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d1" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d1">
                                        <label labelfor="d1"> Lu </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d2" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d2">
                                        <label labelfor="d2"> Ma </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d3" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d3">
                                        <label labelfor="d3"> Mi </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d4" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d4">
                                        <label labelfor="d4"> Ju </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d5" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d5">
                                        <label labelfor="d5"> Vi </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d6" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d6">
                                        <label labelfor="d6"> Sa </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-1 p-b-20">
                                    <div class="col-xs-3 col-md1 checkbox checkbox-primary">
                                        <input detail="Schedules" id="d7" name="Schedules" type="checkbox" value="0" class="form-control"
                                        v-model="record.Schedules[index].d7">
                                        <label labelfor="d7"> Do </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button :id="'delete'+index" type="button" :onclick="'removeRow(\'Schedules\','+index+')'"
                                        class="btn btn-danger btn-rounded waves-effect waves-light m-r-10 m-b-10">
                                    <span class="btn-label">
                                        <i class="fa fa-minus"></i>
                                    </span>Borrar
                                </button>
                            </div>
                        </div>
                        <button onclick="addNewRow('Schedules')" type="button"
                                class="btn btn-warning btn-rounded waves-effect waves-light m-r-10 m-b-10">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title">  Notificaciones por correo </h3>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="NtfActivityNew" name="NtfActivityNew" type="checkbox" class="fxhdr"
                                       v-model="record.NtfActivityNew">
                                <label for="NtfActivityNew"> Nueva Actividad </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="NtfActivityCancel" name="NtfActivityCancel" type="checkbox" class="fxhdr"
                                       v-model="record.NtfActivityCancel">
                                <label for="NtfActivityCancel"> Actividad Cancelada </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="NtfActivityConfirm" name="NtfActivityConfirm" type="checkbox" class="fxhdr"
                                       v-model="record.NtfActivityConfirm">
                                <label for="NtfActivityConfirm"> Actividad Confirmada </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="NtfActivityChange" name="NtfActivityChange" type="checkbox" class="fxhdr"
                                       v-model="record.NtfActivityChange">
                                <label for="NtfActivityChange"> Actividad Modificada </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="NtfActivityNewCust" name="NtfActivityNewCust" type="checkbox" class="fxhdr"
                                       v-model="record.NtfActivityNewCust">
                                    <label for="NtfActivityNewCust"> Nuevos Clientes </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}




