{% extends "recordform.html" %}

{% block fields %}

<div id="recordFields">
  <form action="/" autocomplete="off" class="form-material form-horizontal" id="record_form">
  <input id="id" name="id" type="hidden" v-model="values.id">
  <input id="_state" name="_state" type="hidden" v-model="values._state">
  <input v-if="record" id="syncVersion" name="syncVersion" type="hidden" v-model="record.syncVersion">
    <div class="row">
        <div class="col-xs-12">
            <div class="white-box">
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="ServiceId">Servicio</label>
                        <select class="form-control" id="ServiceId" name="ServiceId" v-model="record.ServiceId">
                            <option v-for="(value,key) in links['ServiceId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6 p-b-20">
                        <label class="col-xs-12" for="UserId">Usuario</label>
                        <select class="form-control" id="UserId" name="UserId" v-model="record.UserId">
                            <option v-for="(value,key) in links['UserId']"  v-if="value[1]==0" :value="key">
                              {% raw %} {{value[0]}} {% endraw %}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}
