{% extends "recordtable.html" %}
{% block title %}
<h2>Servicios por Profesional</h2>
{% endblock %}

{% block fields_view %}
<tr v-for="record in values" v-if="record._Skip==false && record._Skip2==false">
    <td><record-row :record="record" :text="record.UserId" class_name="UserService"></record-row></td>
    <td><record-row :record="record" :text="record.ServiceId" class_name="UserService"></record-row></td>
</tr>
{% endblock %}


{% block button_script %}
<script type=text/javascript>
  refreshList();
  getRecordList('UserService','UserId,ServiceId,CompanyId,id',null,null,false);
</script>
{% endblock %}
